<% content_for :title, "Contact Us" %>
<% content_for :page_type, "contact-us-page" %>

<% content_for :banner_content do %>
  <div id="banner" class="">
    <div class="container">
      <div class="row">
        <section class="12u">
          <header>
            <h2>Contact US</h2>
            <span class="byline">Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus.</span>
          </header>
        </section>
      </div>
    </div>
  </div>
<%end%>
contact us